extends layout

block content
   link(rel='stylesheet', href='/stylesheets/modifiers/css/crm.min.css')     
   form(method='post')
     button(type='submit' class='logout-energy-btn') Wyloguj
   .energy-panel-wrapper
     h1(class="energy-panel-wrapper__title") energy2000 Panel
     h2(class='energy-panel-wrapper__subtitle') Zalogowano jako 
       span= fullName 
       span(class='user-settings')
         i(class="fas fa-user-cog")
     div(class="chat-container")
       .chat-container__hide Chat
       .chat-container__message-container       
       form(method='post' action="/chat" class="send-container")
         input(type="text" class="send-container__input")
         button(type="submit" class="send-container__btn") 
           i(class="fas fa-paper-plane")  
     .user-settings-container
       i(class="fas fa-times-circle user-settings-container__close")
       h3.user-settings-container__title Ustawienia 
       button(class='user-settings-container__btn btn-change-password') Zmiana hasła
       button(class='user-settings-container__btn btn-change-email') Zmiana email
       button(class='user-settings-container__btn btn-change-phone') Zmiana telefonu  
       .change-data-password
         i(class="fas fa-times-circle change-data-password__close")
         span(class='change-data-password__description') Aktualne hasło
         input(id='actualPassword' class='change-data__input' placeholder='stare' type='password') 
         span(class='change-data-password__description') Nowe hasło
         input(id='newPassword' class='change-data__input' placeholder='nowe') 
         button(class='user-settings-container__btn btn-change-password btn-change-password-apply') Zmiana hasła 
         p(class='change-data-password__response') 
       .change-data-email
         i(class="fas fa-times-circle change-data-email__close")        
         span(class='change-data-password__description changed-email')=email
         input(id='actualPasswordEmail' class='change-data__input' placeholder='podaj hasło...' type='password') 
         span(class='change-data-password__description') Nowy email
         input(id='newEmail' class='change-data__input' placeholder='email') 
         button(class='user-settings-container__btn btn-change-password btn-change-email-apply') Zmiana email 
         p(class='change-data-email__response')       
       .change-data-phone
         i(class="fas fa-times-circle change-data-phone__close")
         span(class='change-data-password__description changed-phone')=phoneNumber
         input(id='actualPasswordPhone' class='change-data__input' placeholder='podaj hasło...' type='password') 
         span(class='change-data-password__description') Nowy telefon
         input(id='newPhone' class='change-data__input' placeholder='nowy tel...') 
         button(class='user-settings-container__btn btn-change-password btn-change-phone-apply') Zmiana tel. 
         p(class='change-data-phone__response')  
     .clients-wrapper
       table(class='clients-table')
         tr
           th NIP
           th Nazwa
           th Telefon
           th Zużycie [MWH]
           th Opiekun
                
                 
   script(defer src="/javascripts/crmChangeUserData.js")  
   script(defer src="/javascripts/crmGetClients.js")  
   //-  script(defer src="/javascripts/chat.js") 
       