extends layout

block content
   link(rel='stylesheet', href='/stylesheets/modifiers/crmpanel.css')  
   form(method='post')
     button(type='submit' class='logout-btn') Wyloguj
   .crm-panel-wrapper
     h1(class="crm-panel-wrapper__title") ZajazdCRM Panel