extends layout

block content
  div(class='login-wrapper')
    h1= title
      form(method='post')
        input(id='username' type='text' placeholder='login' name="login")
        input(id='password' type='password' placeholder='hasło' name="password")
        button(class="submit-btn" type='submit') Zaloguj
