doctype html
html
  head
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')  
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/9d8f165f6b.js" crossorigin="anonymous")  
  body
    div(class="menu-mobile disabled")
      img(src="images/menu_small.jpg", alt="")
    nav(class='main-nav') 
      ul
        li
          a(href="/panel") Ofertomat                 
        li 
          a(href="/mwh")  Ile MWh?  
        li 
          a(href="/gazomierz")  GazoMierz      
        //- li 
        //-   a(href="/stats")  Stats
        li 
          a(href="/consumption")  Zużycie FV    
    block content
script(src="/javascripts/mobile.js") 
//- script(src="/javascripts/snow.js") 