doctype html
html
  head
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')  
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/9d8f165f6b.js" crossorigin="anonymous")  
  body
    div(class="menu-mobile disabled")
      i(class="far fa-caret-square-down")
    nav(class='main-nav') 
      ul
        li
          a(href="/panel") Kalkulator                 
        li 
          a(href="/panel/experts")  Handlowcy  
        li 
          a(href="/panel/table")  E-Tablica  
        li 
           a(href="/panel/church") E-Taca
        li 
           a(href="/panel/necessary") Przydatne 
        li 
          a(href="/panel/news")  Aktualności 
        li 
          a(href="/stats")  Stats
    div(class='change-motive')
      ul
        li(class="female-link") 
          a(href="/panel/table") Kobiecy
        li(class="male-link") 
          a(href="/panel/table")  Męski
        li(class="christmas-link") 
          a(href="/panel/table")  Świąteczny
        li(class="motive-link") Motywy  
          i(class="far fa-arrow-alt-circle-down arrow-motive")

                 
        
   
     
    block content
script(src="/javascripts/motive.js") 