doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')  
    script(src="https://kit.fontawesome.com/9d8f165f6b.js" crossorigin="anonymous")  
  body
    nav(class='main-nav') 
      ul
        li
          a(href="/panel") Kalkulator                 
        li 
          a(href="/panel/experts")  Handlowcy  
        li 
          a(href="/panel/table")  E-Tablica  
        li 
           a(href="/panel/necessary") Przydatne 
        li 
          //- a(href="/panel/news")  Aktualności  
          a(class='disabled')  Aktualności      
                 
        
       
          
    block content
