extends layout

block content
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj
 
  div(class="necessary-wrapper")
   h2 Przydatne linki  
   each item in data
     div(class="link")
        a(href=item.url rel="noopener noreferrer" target="_blank")=item.title     
        p=item.description
   h2 Wypłaty Mój Prąd
   div(class="img-prad-wrapper")
     
     img(src="http://nfosigw.gov.pl/gfx/nfosigw/userfiles/files/moj_prad/images/mojprad_head.jpg", alt="wypłaty z programu mój prąd")
  script(src="/javascripts/snow.js")