extends layout

block content
  div(class='login-wrapper')
    h1(class='login-header')= title
    form(method='post')
      input(id='username' type='text' placeholder='login' name="login")
      input(id='password' type='password' placeholder='hasło' name="password")
      .ripple-container
        button(class="ripple-container__btn ripple-container__btn--second" type='submit') Zaloguj 
  script(src="/javascripts/smallparts/rippleBtn.js")     
       