extends layout

block content  
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj  
  div(class='wrapper')
    h3 Ofertomat v. 2.1   
    p(class="alert alert-success wrapper__title") v.2.1 Dodano B11 - dzięki Kalina. Na życzenie dodaje informacje o opłacie handlowej.  
    button(class="btn btn-dark show-price-change") Edycja cen 
    div
      label(for="tariff") Grupa taryfowa:  
      select(id="tariff" class="note-remover")
        option(value="C11") C11
        option(value="C12a") C12a
        option(value="C12b") C12b                       
        option(value="C21") C21                       
        option(value="C22a") C22a                      
        option(value="C22b") C22b 
        option(value="B11") B11                      
        option(value="B21") B21                       
        option(value="B22") B22                       
    div
      label(for="endOfAgreement") Koniec umowy: 
      select(id="endOfAgreement")
        option(class="option-2021" value=2021) 2021
        option(class="option-2020" value=2020) 2020
        option(class="option-2019" value=9999) 9999    
    include parts/c11   
    include parts/c12a
    include parts/c12b
    include parts/c21   
    include parts/c22a   
    include parts/c22b 
    include parts/b11  
    include parts/b21   
    include parts/b22   
    .have-prices-c11 
       div
        label(for="priceNow") Cena aktualna klienta: 
        input(id="priceNow" class="note-remover" type="text" placeholder="np. 382" value=0)
    div(class="intakec11c21")
      label(for="wear") Zużycie: 
      input(id="wear" class="note-remover" type="text" placeholder="np. 18.3" value=0)      
    div(class="havePricesc12ac12b")
      p(class="tariff-wrapper-title") Klient ma cenę:
      .have-prices-divs-wrapper   
        div
          label(for="havePriceAvr") Średnia: 
          input(id="havePriceAvr" class="set-to-zero" type="text" value=0)
        div
          label(for="havePriceFirst") I strefa: 
          input(id="havePriceFirst" class="set-to-zero" type="text" value=0)
        div
          label(for="havePriceSecond") II strefa: 
          input(id="havePriceSecond" class="set-to-zero" type="text" value=0)
    div(class="intakec12ac12b")
      p(class="tariff-wrapper-title") Zużycie:
      .intake-divs-wrapper   
        div
          label(for="wearFirst") I strefa: 
          input(id="wearFirst" class="note-remover set-to-zero" type="text" placeholder="np. 7.3" value=0)
        div
          label(for="wearSecond") II strefa: 
          input(id="wearSecond" class="note-remover set-to-zero" type="text" placeholder="np. 18.3" value=0)
        div
          label(for="wearSum") Suma: 
          input(id="wearSum" class="note-remover set-to-zero" type="text" placeholder="wyliczę")
      
    div(class="propositionc11c21")
      label(for="proposePrice") Twoja propozycja: 
      input(id="proposePrice" class="note-remover" type="text" placeholder="380" value=0)
    .propositionc12ac12b
      p(class="tariff-wrapper-title") Twoja propozycja:
      .wrapPropositionsC12x
        div
          label(for="proposePriceAvr") Średnia
          input(type="text" class="note-remover set-to-zero" id="proposePriceAvr" value=0)
        div
          label(for="proposePriceFirst") I strefa
          input(type="text" class="note-remover set-to-zero" id="proposePriceFirst" value=0)
        div
          label(for="proposePriceSecond") II strefa
          input(type="text" class="note-remover set-to-zero" id="proposePriceSecond" value=0)
      .wrap-checkbox
        label(for="onePriceForAll" class="label-for-one-price") Na płasko
        input(type="checkbox" id="onePriceForAll")
        .wrap-new-calc
        button(class="btn btn-danger" id="clearInputsBtn") Nowe wyliczenie 
    div(class="btn-wrapper")  
      button(id="btnCalc" class="btn btn-success") Przelicz      
    p(class="note") Notatka:     
    p(id="summaryCalc")
    button(id="info35zl" class="btn btn-info") Opłata handlowa       
    .change-price-panel          
      p(class="alert alert-danger") Pamiętaj, że zmiany są widoczne po odświeżeniu strony!
      form(action="panel/change-price/" method="post")
       include parts/changec11.pug
       include parts/changec12a.pug
       include parts/changec12b.pug       
       include parts/changec21.pug       
       include parts/changec22a.pug       
       include parts/changec22b.pug 
       include parts/changeb11.pug      
       include parts/changecb21.pug       
       include parts/changeb22.pug       
       div
        input(id="changePriceBtn" class='btn btn-info' type="submit" value="OK")
       div(class="change-price-close")
         img(src="./images/close_cross.png", alt="") 

  //- script(src="/javascripts/energaCalc.js")   
  //- script(src="/javascripts/smallparts/add35zlinfo.js")
  //- script(src="/javascripts/smallparts/changepricepanel.js")
  //- script(src="/javascripts/smallparts/changetariffs.js")  
  //- script(src="/javascripts/smallparts/setToZero.js")
  //- script(src="/javascripts/tariffEngine.js") 
  script(src="/javascripts/babelTest.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous")
