extends layout

block content
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj  
  div(class='wrapper')
    h3 Ofertomat v. 1.0   
    p(class="alert alert-danger") v. 1.0 pozwala na wyliczenia w taryfach jednostrefowych i wielostrefowych na płasko!     
    div
      label(for="tariff") Grupa taryfowa:  
      select(id="tariff")
        option(value="C11") C11
        option(value="C12a") C12a
        option(value="C12b") C12b
        option(value="C21") C21
        option(value="C22a") C22a        
        option(value="C22b") C22b        
    div
      label(for="endOfAgreement") Kiedy kończy się umowa: 
      select(id="endOfAgreement")
        option(class="option-2021" value=2021) 2021
        option(class="option-2020" value=2020) 2020
        option(class="option-2019" value=9999) 9999
      //- input(id="endOfAgreement" value="2021")  
      
    div
      label(for="priceNow") Cena aktualna klienta: 
      input(id="priceNow" type="text" placeholder="np. 382")
      
    div
      label(for="priceInTariff") Cena w cenniku na 2022: 
      input(id="priceInTariff2022" type="text" placeholder="np. 300" value=data[0].price)
    div(class="when-option-2020")
      label(for="priceInTariff2021") Cena w cenniku na 2021: 
      input(id="priceInTariff2021" type="text" placeholder="np. 280" value=data[1].price)
    div(class="when-option-2019")
      label(for="priceInTariff2020") Cena w cenniku na 2020: 
      input(id="priceInTariff2020" type="text" placeholder="np. 274" value=data[2].price)     
    div
      label(for="wear") Zużycie: 
      input(id="wear" type="text" placeholder="np. 18.3")
      
    div
      label(for="proposePrice") Twoja propozycja: 
      input(id="proposePrice" type="text" placeholder="380")
    div(class="btn-wrapper")  
      button(id="btnCalc" class="btn btn-success") Przelicz
    p(class="note") Notatka:   
    p(id="summaryCalc")
    .change-price-panel    
      h3(class="change-price-heading") Podaj cenę na poszczególne lata:
      form(action="panel/change-price/" method="post")
       label(for="idPrice2022") Podaj cenę na 2022:
       input(id="idPrice2022" type="text" name="price2022" placeholder="cena 2022")
       label(for="idPrice2020") Podaj cenę na 2021:
       input(id="idPrice2020" type="text" name="price2021" placeholder="cena 2021")
       label(for="idPrice2020") Podaj cenę na 2020:
       input(id="idPrice2020" type="text" name="price2020" placeholder="cena 2020")
       input(type="submit" value="OK")


  script(src="/javascripts/energaCalc.js") 
    

   
