extends layout

block content
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj
  
  div(class='wrapper')
    h3 Ofertomat Energa v. 1.0 Jedna cena (C11, C21 itp.)
    p(class="ofe-description") Proste narzędzie pomagające przygotować ofertę
    p(class="ofe-description") Minimalna masa marży to 300 zł!
    div
      label(for="tariff") Grupa taryfowa: 
      input(id="tariff" type='text' placeholder="np. C11")
    div
      label(for="endOfAgreement") Kiedy kończy się umowa:
      input(id="endOfAgreement" type="text" placeholder="np. 2021")
      span(class="alert" id="alertEndOfAgreement")
    div
      label(for="priceNow") Cena aktualna klienta:
      input(id="priceNow" type="text" placeholder="np. 382")
      span(class="alert" id="alertPriceNow")
    div
      label(for="priceInTariff") Cena w cenniku dla taryfy:
      input(id="priceInTariff" type="text" placeholder="np. 300")
      span(class="alert" id="alertPriceInTariff")    
    div
      label(for="wear") Zużycie:
      input(id="wear" type="text" placeholder="np. 18.3")
      span(class="alert" id="alertWear")
    div
      label(for="proposePrice") Twoja propozycja:
      input(id="proposePrice" type="text" placeholder="380")
      span(class="alert" id="alertProposePrice")
    button(id="btnCalc") Przelicz
    p(class="note") Notatka:
    p(id="summaryCalc")

  script(src="/javascripts/energaCalc.js") 
    

   
