* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/photovoltaic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body .logout-btn {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 130px;
  height: 35px;
  font-size: 20px;
  background-color: #49cb4e;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
}

body .login-wrapper {
  width: 450px;
  height: 500px;
  border: 1px solid #9f9b9b;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  margin: 30px auto 0;
  background: rgba(255, 255, 255, 0.84);
}

body .login-wrapper input {
  display: block;
  margin: 30px auto 0;
  font-size: 25px;
}

body .login-wrapper .submit-btn,
body .login-wrapper .logout-btn {
  margin-top: 50px;
  width: 130px;
  height: 35px;
  font-size: 20px;
  background-color: #49cb4e;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
}

body .login-wrapper .submit-btn:hover,
body .login-wrapper .logout-btn:hover {
  box-shadow: inset 1px 1px 10px 0px;
}

body .main-nav {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #259d2a;
  color: white;
}

body .main-nav ul {
  display: flex;
  list-style: none;
}

body .main-nav ul li {
  border-right: 2px solid white;
  padding: 5px;
}

body .main-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

body .main-nav ul li a:hover {
  color: black;
}

body .main-nav ul li a.disabled {
  text-decoration: line-through;
  cursor: default;
}

body .wrapper {
  width: 800px;
  height: 500px;
  margin: 50px auto 0;
  background: rgba(173, 216, 230, 0.74);
  padding: 20px;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

body .wrapper h3 {
  text-align: center;
  color: #830707;
}

body .wrapper input {
  font-size: 20px;
}

body .wrapper p {
  margin-top: 10px;
}

body .wrapper button {
  display: inline-block;
  width: 100px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 3px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}

body .wrapper button:hover {
  font-weight: bolder;
}

body .wrapper #select {
  margin-top: 10px;
  font-size: 20px;
}

body .wrapper #yearIn,
body .wrapper #power,
body .wrapper #monthCost,
body .wrapper #same-energy,
body .wrapper #changed-energy {
  color: green;
  font-weight: bolder;
}

body .wrapper #same-energy.active,
body .wrapper #changed-energy.active {
  display: inline-block;
  padding: 2px 4px;
  border: 2px solid blue;
}

body .wrapper #creditPar {
  color: green;
  font-weight: bolder;
  margin-bottom: 0;
}

body .wrapper #creditPar .orient {
  text-decoration: underline;
}

body .wrapper #save-money {
  margin-top: 10px;
}

body .wrapper #save-money .saves {
  margin-bottom: 0;
}

body .wrapper #save-money .saves-desc,
body .wrapper .credit-desc {
  margin-top: 0;
  font-size: 15px;
}

body h1.experts-heading {
  text-align: center;
  margin-bottom: 5px;
}

body table.experts-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: white;
}

body table.experts-table td,
body table.experts-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

body table.experts-table tr:nth-child(even) {
  background-color: #dddddd;
}

body table.experts-table tr:hover {
  background-color: black;
  color: white;
}

body h1.table-heading {
  text-align: center;
  margin-bottom: 10px;
}

body div.table-wrapper {
  background-color: rgba(0, 188, 212, 0.55);
  padding: 10px;
  border-radius: 5px;
}

body div.table-wrapper div.sum {
  height: 50px;
  text-align: right;
  font-size: 30px;
  font-size: bolder;
  color: white;
  position: relative;
}

body div.table-wrapper div.sum P {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2px;
  width: 140px;
  text-align: center;
  background: rgba(17, 17, 17, 0.658);
  border-radius: 10px;
}

body div.person {
  background: rgba(255, 255, 255, 0.86);
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  margin: 0px auto 3px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  position: relative;
}

body div.person.winner {
  background: yellow;
  position: relative;
}

body span.points {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  text-align: center;
  margin-right: 10px;
}

body p.name {
  line-height: 30px;
}

body div.pointsPanel {
  display: flex;
  position: absolute;
  right: 5px;
}

body div.pointsPanel a.plus,
body div.pointsPanel a.minus {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
  line-height: 25px;
  background: black;
  color: white;
  margin-left: 2px;
  border-radius: 1px;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
}

body div.pointsPanel a.plus:hover,
body div.pointsPanel a.minus:hover {
  background: gray;
}

body img.crown {
  width: 80px;
  position: absolute;
  transform: rotateZ(-17deg);
  z-index: 1;
  left: -26px;
  top: -33px;
}

body img.crown.disabled {
  display: none;
}
