@import './parts/breakepoints';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    // up świąteczny 
    background: url('../images/lake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    // background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    // background-color: mediumspringgreen;
    // background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    // background-repeat: repeat;

    @include mq('xsmall') {
        background: #f46b45;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eea849, #f46b45);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eea849, #f46b45);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .login-header {
        font-size: 2rem;
    }

    .logout-btn {
        position: fixed;
        top: 5px;
        right: 5px;
        width: 130px;
        height: 35px;
        font-size: 20px;
        background-color: rgb(73, 203, 78);
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            box-shadow: inset 1px 1px 10px 0px;
        }


    }

    @import './parts/login';
    @import './parts/nav';
    @import './parts/calc';
    @import './parts/experts';
    @import './parts/table';
    @import './parts/necessary';
    @import './parts/news';
    @import './parts/church';
    @import './parts/motive';
    @import './parts/stats';
    @import './parts/mwh';
    @import './parts/crm';
    @import './parts/chat';
    @import './parts/rippleBtn';
    @import './parts/consumption';
    @import './parts/knowHow';
    @import './parts/gazomierz';
    @import './parts/eggs';
}