@import url("https://fonts.googleapis.com/css?family=Anton&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/photovoltaic1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .logout-btn {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 130px;
  height: 35px;
  font-size: 20px;
  background-color: #49cb4e;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
}

body .logout-btn:hover {
  box-shadow: inset 1px 1px 10px 0px;
}

body .login-wrapper {
  width: 450px;
  height: 500px;
  border: 1px solid #9f9b9b;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  margin: 30px auto 0;
  background: rgba(255, 255, 255, 0.84);
}

@media (max-width: 830px) {
  body .login-wrapper {
    height: 280px;
  }
}

@media (max-width: 570px) {
  body .login-wrapper {
    margin: -18px auto 0;
  }
}

@media (max-width: 570px) and (orientation: portrait) {
  body .login-wrapper {
    width: 275px;
    margin: 10px auto 0;
  }
}

body .login-wrapper input {
  display: block;
  margin: 30px auto 0;
  font-size: 25px;
}

@media (max-width: 570px) and (orientation: portrait) {
  body .login-wrapper input {
    width: 250px;
    font-size: 20px;
  }
}

body .login-wrapper .submit-btn,
body .login-wrapper .logout-btn {
  margin-top: 50px;
  width: 130px;
  height: 35px;
  font-size: 20px;
  background-color: #49cb4e;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
}

body .login-wrapper .submit-btn:hover,
body .login-wrapper .logout-btn:hover {
  box-shadow: inset 1px 1px 10px 0px;
}

body .login-wrapper.male {
  background: rgba(255, 255, 255, 0.3);
}

body div.menu-mobile {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 1;
}

@media (max-width: 600px) {
  body div.menu-mobile {
    display: block;
  }
}

body div.menu-mobile i {
  font-size: 50px;
}

body div.menu-mobile i.active {
  transform: rotateX(180deg);
}

body .main-nav {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  min-width: 700px;
  background: rgba(154, 12, 12, 0.11);
  color: white;
}

@media (max-width: 570px) {
  body .main-nav {
    top: -400px;
    transition: .3s;
  }
}

body .main-nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  body .main-nav ul {
    flex-direction: column;
  }
}

body .main-nav ul li {
  border-right: 2px solid white;
  padding: 5px;
}

body .main-nav ul li:nth-child(7) {
  border-right: none;
}

@media (max-width: 1024px) {
  body .main-nav ul li {
    width: 180px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  body .main-nav ul li {
    width: 140px;
  }
}

@media (max-width: 830px) {
  body .main-nav ul li {
    width: 140px;
  }
}

@media (max-width: 670px) {
  body .main-nav ul li {
    width: 125px;
  }
}

@media (max-width: 600px) {
  body .main-nav ul li {
    width: 260px;
    border-right: none;
    border-bottom: 2px solid white;
  }
}

body .main-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media (max-width: 1024px) {
  body .main-nav ul li a {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  body .main-nav ul li a {
    font-size: 25px;
  }
}

@media (max-width: 830px) {
  body .main-nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  body .main-nav ul li a {
    font-size: 25px;
  }
}

body .main-nav ul li a:hover {
  border-bottom: 2px solid white;
}

body .main-nav ul li a.disabled {
  text-decoration: line-through;
  cursor: default;
}

body .wrapper {
  width: 800px;
  height: 500px;
  margin: 50px auto 0;
  background: rgba(173, 216, 230, 0.74);
  padding: 20px;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

body .wrapper h3 {
  text-align: center;
  color: #830707;
}

body .wrapper input {
  font-size: 20px;
}

body .wrapper p {
  margin-top: 10px;
  line-height: 100%;
}

body .wrapper button {
  display: inline-block;
  width: 100px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 3px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}

body .wrapper button:hover {
  font-weight: bolder;
}

body .wrapper #select {
  margin-top: 10px;
  font-size: 20px;
}

body .wrapper #yearIn,
body .wrapper #power,
body .wrapper #monthCost,
body .wrapper #same-energy,
body .wrapper #changed-energy {
  color: green;
  font-weight: bolder;
}

body .wrapper #same-energy.active,
body .wrapper #changed-energy.active {
  display: inline-block;
  padding: 2px 4px;
  border: 2px solid blue;
}

body .wrapper #creditPar {
  color: green;
  font-weight: bolder;
  margin-bottom: 0;
}

body .wrapper #creditPar .orient {
  text-decoration: underline;
}

body .wrapper #save-money {
  margin-top: 10px;
}

body .wrapper #save-money .saves {
  margin-bottom: 0;
}

body .wrapper #save-money .saves-desc,
body .wrapper .credit-desc {
  margin-top: 0;
  font-size: 15px;
}

body h1.experts-heading {
  text-align: center;
  margin-bottom: 5px;
  color: white;
}

body table.experts-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: white;
}

body table.experts-table td,
body table.experts-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

body table.experts-table tr:nth-child(even) {
  background-color: #dddddd;
}

body table.experts-table tr:hover {
  background-color: black;
  color: white;
}

body h1.table-heading {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

body div.table-wrapper {
  background-color: rgba(255, 255, 253, 0.7);
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

body div.table-wrapper div.sum {
  height: 50px;
  text-align: right;
  font-size: 30px;
  font-size: bolder;
  color: white;
  position: relative;
}

body div.table-wrapper div.sum P {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2px;
  width: 140px;
  text-align: center;
  background: rgba(17, 17, 17, 0.658);
  border-radius: 10px;
  margin-bottom: 0;
}

body div.person {
  background: rgba(255, 255, 255, 0.86);
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  margin: 0px auto 3px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  position: relative;
}

body div.person p {
  margin-bottom: 0;
}

body div.person.winner {
  background: yellow;
  position: relative;
}

body span.points {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  text-align: center;
  margin-right: 10px;
}

body p.name {
  line-height: 30px;
}

body div.pointsPanel {
  display: flex;
  position: absolute;
  right: 5px;
}

body div.pointsPanel a.plus,
body div.pointsPanel a.minus {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
  line-height: 25px;
  background: black;
  color: white;
  margin-left: 2px;
  border-radius: 1px;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
}

body div.pointsPanel a.plus:hover,
body div.pointsPanel a.minus:hover {
  background: gray;
}

body img.crown {
  width: 80px;
  position: absolute;
  transform: rotateZ(-17deg);
  z-index: 1;
  left: -26px;
  top: -33px;
}

body img.crown.disabled {
  display: none;
}

body .close-session,
body .close-session-week {
  display: block;
  margin: 10px auto;
}

body .close-session.yes,
body .close-session-week.yes {
  text-decoration: none;
  background: #49cb4e;
}

body div.confirm-close-session,
body div.confirm-close-session-week,
body div.confirm-close-session-month {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 30vw;
  height: auto;
  padding: 20px;
  border: 3px solid green;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 120%;
  z-index: 1;
}

body div.confirm-close-session.active,
body div.confirm-close-session-week.active,
body div.confirm-close-session-month.active {
  display: block;
}

body .close-session-month.no {
  margin-top: 10px;
}

body div.table-old-wrapper {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

body div.table-old-wrapper div.table-week,
body div.table-old-wrapper div.table-month {
  flex-basis: 40%;
}

body div.table-old-wrapper div.table-week table,
body div.table-old-wrapper div.table-month table {
  margin: 0 auto;
}

body div.table-old-wrapper div.table-week h2,
body div.table-old-wrapper div.table-month h2 {
  padding: 5px;
  text-align: center;
}

body div.table-old-wrapper div.table-week a {
  text-decoration: none;
  color: white;
}

body .christmas-time {
  background-color: rgba(255, 255, 253, 0.7);
  padding: 10px;
  border-radius: 5px;
  width: auto;
  font-size: 15px;
  text-align: center;
  position: fixed;
  top: 5px;
  left: 30px;
}

body .christmas-time p {
  margin: 0;
  font-family: Arial;
  font-weight: bolder;
}

body .bell {
  width: 140px;
  position: absolute;
  bottom: -68px;
  left: 50%;
  transform: translateX(-50%);
}

body .bell img {
  width: 100%;
}

body span.profile i {
  transition: .3s;
  cursor: pointer;
}

body span.profile i:hover {
  color: #3b5998;
}

body .profile-cont {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 200px;
  background: #f3f5f4;
  z-index: 2;
  border: solid;
  border-image: linear-gradient(to left, #2e98bc 0%, #c66262 100%);
  border-image-slice: 1;
  border-width: 3px;
  border-radius: 5px;
  text-align: center;
}

body .profile-cont .close-profile {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #3c5998;
}

body .profile-cont h2.name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

body .profile-cont h2.name span {
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .profile-cont .profile-par {
  font-size: 18px;
}

body .profile-cont .profile-all-points {
  color: #a27607;
}

body .table-wrapper.male {
  background-color: rgba(255, 255, 253, 0.18);
}

body div.person.male {
  background: rgba(255, 255, 255, 0.38);
}

body div.table-dark.male {
  background-color: rgba(52, 58, 64, 0.52);
}

body div.necessary-wrapper {
  background: rgba(0, 188, 212, 0.55);
}

body div.necessary-wrapper h2 {
  background: rgba(17, 17, 17, 0.658);
  text-align: center;
  border-radius: 2px;
  border-bottom: 2px solid white;
  padding: 10px 0;
  color: white;
}

body div.necessary-wrapper div.link {
  background: rgba(255, 255, 255, 0.59);
  border: 1px solid black;
}

body div.necessary-wrapper div.link a {
  display: block;
  text-align: left;
  margin: 10px 0;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  color: black;
  font-weight: bold;
}

body div.necessary-wrapper div.link p {
  padding: 5px;
  font-size: 14px;
  letter-spacing: 1px;
}

body div.necessary-wrapper div.img-prad-wrapper {
  width: 800px;
  height: 400px;
  margin: 10px auto;
  overflow: hidden;
}

body div.necessary-wrapper div.img-prad-wrapper img {
  width: 100%;
}

body div.news-wrapper {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.82);
  width: 900px;
  margin: 10px auto;
}

body div.news-wrapper .btn-add-post {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  margin: 5px;
}

body div.news-wrapper .post {
  background: white;
  padding: 5px;
  font-family: 'Work Sans', sans-serif;
}

body div.news-wrapper .post .post-target {
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.82);
  color: white;
  padding: 4px;
}

body div.news-wrapper .post .time-par {
  text-align: right;
  color: #9a8a8a;
  font-size: 0.8em;
}

body div.news-wrapper .post-news {
  padding: 10px;
  background: transparent;
  border-radius: 2px;
  text-align: center;
}

body div.news-wrapper .post-news form {
  height: 0px;
  overflow: hidden;
  transition: 1s;
}

body div.news-wrapper .post-news form .btn-posting {
  margin-right: 10px;
}

body div.news-wrapper .post-news form .btn-cancel-post {
  padding: 6px;
  cursor: pointer;
}

body div.news-wrapper .post-news.active form {
  height: 260px;
}

body .church-desc {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}

body .church-desc span {
  display: block;
  font-weight: bolder;
}

body .church-wrap {
  margin: 20px auto;
  background: rgba(29, 29, 29, 0.79);
  width: 90%;
  border-radius: 5px;
  min-height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .church-wrap .church-todo,
body .church-wrap .church-order {
  min-width: 500px;
  text-align: center;
}

body .church-wrap .target-ok {
  margin-right: 5px;
}

body .church-wrap .rmv-target {
  color: red;
  font-size: 20px;
}

body .church-wrap .btn-posting {
  margin-bottom: 10px;
}

body .church-wrap .btn-cheat {
  cursor: pointer;
}

body .church-wrap .cheat {
  font-size: 20px;
  display: none;
}

body .church-wrap #start-task,
body .church-wrap #stop-task {
  margin-right: 10px;
  color: #28a745;
  cursor: pointer;
}

body .church-wrap #stop-task {
  color: red;
}

body .church-wrap .working {
  background-color: green;
}

body .church-wrap .working:hover {
  background-color: #6ec56e;
}

body .church-wrap .working td {
  background-color: transparent;
}

body .church-wrap .working td:hover {
  background-color: transparent;
}

body .church-wrap.male {
  background: rgba(29, 29, 29, 0.35);
}

body .table-dark.male {
  background-color: rgba(52, 58, 64, 0.5);
}

body .church-desc.male {
  background-color: rgba(212, 237, 218, 0.56);
}

body .working.male {
  background-color: rgba(0, 128, 0, 0.490196);
}

body .change-motive {
  position: fixed;
  height: 95px;
  top: -96px;
  left: 0px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.25);
  transition: .5s;
}

body .change-motive ul {
  list-style: none;
  margin-bottom: 0px;
}

body .change-motive ul li a {
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
}

body .change-motive ul li .arrow-motive {
  color: white;
  font-size: 25px;
  vertical-align: -3px;
  cursor: pointer;
  transition: .3s;
}

body .change-motive ul li .arrow-motive.active {
  transform: rotateZ(-180deg);
}

body .change-motive ul .motive-link {
  position: absolute;
  bottom: -30px;
  right: 10px;
  color: white;
  text-transform: uppercase;
}

body .change-motive.active {
  top: 0px;
}

body .stats-wrapper {
  background-color: rgba(255, 255, 255, 0.50196);
  font-family: Roboto, sans-serif;
  padding: 30px;
}

body .stats-wrapper .stats-heading {
  text-align: center;
  letter-spacing: 1px;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

body .stats-wrapper .cases-wrapper {
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
}

body .stats-wrapper .cases-wrapper .stats-case {
  padding: 10px;
  display: flex;
  letter-spacing: 2px;
  font-weight: bolder;
  position: relative;
}

body .stats-wrapper .cases-wrapper .stats-case .case-ammount {
  padding: 2px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-right: 5px;
  min-width: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.767);
  flex-grow: 1;
}

body .stats-wrapper .cases-wrapper .stats-case .case-name {
  padding: 2px;
  flex-grow: 2;
  cursor: context-menu;
}

body .stats-wrapper .cases-wrapper .stats-case .case-description {
  display: none;
  position: absolute;
  top: 0%;
  left: 50%;
  background: khaki;
  border: 1px solid gray;
  padding: 5px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 120%;
  z-index: 2;
}

body .stats-wrapper .cases-wrapper .stats-case .stats-generate {
  flex-grow: 19;
  display: flex;
  justify-content: flex-end;
}

body .stats-wrapper .cases-wrapper .stats-case .stats-generate .stats-btn {
  width: 30px;
  height: 30px;
}

body .stats-wrapper .cases-wrapper #no {
  background: rgba(240, 0, 0, 0.37);
}

body .stats-wrapper .cases-wrapper #rezygnacja {
  background: rgba(240, 0, 0, 0.7);
}

body .stats-wrapper .cases-wrapper #out {
  background: rgba(240, 0, 0, 0.904);
}

body .stats-wrapper .cases-wrapper #kontakt {
  background-color: rgba(255, 235, 59, 0.43);
}

body .stats-wrapper .cases-wrapper #mail {
  background-color: rgba(1, 128, 1, 0.721);
}

body .stats-wrapper .cases-wrapper #pd {
  background-color: rgba(1, 128, 1, 0.921);
}

body .stats-wrapper .cases-wrapper #oferta {
  background-color: rgba(1, 128, 1, 0.821);
}

body .stats-wrapper .cases-wrapper #umowa {
  background-color: green;
}

body .stats-wrapper .cases-wrapper #bb {
  background-color: rgba(0, 0, 0, 0.582);
}

body .stats-wrapper .sum-div {
  background: rgba(245, 245, 245, 0.79);
  padding: 10px;
}

body .stats-wrapper .sum-div span {
  font-weight: bolder;
}

body .stats-wrapper .sum-div span.percent {
  margin-left: 10px;
  color: #0d4b67;
}
