* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    // up świąteczny 
    background: url('../images/photovoltaic1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .logout-btn {
        position: fixed;
        top: 5px;
        right: 5px;
        width: 130px;
        height: 35px;
        font-size: 20px;
        background-color: rgb(73, 203, 78);
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            box-shadow: inset 1px 1px 10px 0px;
        }
    }

    @import './parts/login';
    @import './parts/nav';
    @import './parts/calc';
    @import './parts/experts';
    @import './parts/table';
    @import './parts/necessary';
    @import './parts/news';
    @import './parts/church';

}