.energy-panel-wrapper {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: $basic-background;
    font-family: $content-font;

    &__title {
        color: $heading-color;
        font-family: $title-font;
        text-align: center;
        padding: 10px;
        background: $login-color;

        @include mq('small') {
            font-size: 30px;
        }
    }

    &__subtitle {
        color: $heading-color;
        font-family: $title-font;
        text-align: center;
        padding: 10px;

        @include mq('small') {
            font-size: 21px;
        }

        .user-settings {
            padding-left: 10px;
            cursor: pointer;
        }
    }
}

.logout-energy-btn {
    position: fixed;
    top: 6px;
    right: 7px;
    @include btn-logout;

    @include mq('small') {
        position: unset;
        width: 100vw;
        border-radius: 0px;
    }
}

.chat-container__hide {
    display: none;
}

.user-settings-container {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    @include center;
    width: 300px;
    height: 350px;
    background-color: $basic-background;
    @include main-border;
    border-radius: 10px;
    padding: 10px;

    &__close {
        position: absolute;
        top: -16px;
        right: -16px;
        font-size: 30px;
        color: rgba(225, 52, 52, 0.702);
        cursor: pointer;
    }

    &__title {
        font-family: $title-font;
        text-align: center;
        color: $heading-color;
    }

    &__btn {
        height: 50px;
        width: 200px;
        @include main-border;
        background-color: transparent;
        border-radius: 10px;
        color: $heading-color;
        font-family: $content-font;
        cursor: pointer;
    }

    .change-data-password,
    .change-data-email,
    .change-data-phone {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        height: 300px;
        @include center;
        background: $basic-background;
        @include main-border;
        padding: 20px;

        &__description {
            display: block;
            text-align: center;
            font-family: $content-font;
            font-size: 20px;
            color: $heading-color;
        }

        &__close {
            @include close-sign(-8px, -14px)
        }

        &__response {
            font-family: $content-font;
            font-size: 20px;
            color: yellowgreen;
            padding: none;
        }

    }


}

.clients-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .clients-table {
        display: none;
        color: $heading-color;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        text-align: center;

        tr td:nth-child(1) {
            color: rgb(65, 126, 218);
            cursor: pointer;
            border-color: $heading-color;
        }

        tr td:nth-child(2) {
            text-align: left;
        }

        tr {
            padding: 10px;
            border: 1px solid;

            th {
                padding: 10px;
            }

            td {
                padding: 5px;
                border: 1px solid;
            }
        }
    }



}

.wallet-summary {
    text-align: center;
    font-family: $content-font;
    font-size: 20px;
    color: $heading-color
}

// spinner początek
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// spinner koniec

.pagination-crm {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    &__input {
        width: 40px;
        border: 2px solid rgb(213, 164, 164);
        padding: 5px;
    }

    &__btn {
        @include btn-logout;
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    &__next,
    &__prev {
        border: 2px solid white;
        color: $heading-color;
        font-size: 20px;
        font-family: $content-font;
        background-color: transparent;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: .4s;

        &:hover {
            color: $basic-background;
            background-color: $heading-color;
        }
    }
}

.number-of-pages {
    color: $heading-color;
    font-size: 20px;
    font-family: $title-font;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .searchTerm {
        width: 400px;
        border: 3px solid #743ad5;
        border-right-color: #743ad5;
        border-right-style: solid;
        border-right-width: 3px;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: rgb(49, 153, 104);

        &:focus {
            color: #743ad5;
        }
    }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #743ad5;
        background: #743ad5;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        transition: .5s;

        &:hover {
            color: #743ad5;
            background: #fff;
        }
    }
}

.back-to-all__btn {
    display: none;
    border: 2px solid white;
    color: $heading-color;
    font-size: 20px;
    font-family: $content-font;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;

    &:hover {
        color: $basic-background;
        background-color: $heading-color;
    }
}

.doesnt-find-client {
    text-align: center;
    color: rgb(233, 80, 80);
    font-size: 20px;
    font-family: $content-font;
    margin: 5px;
}

// pojedyńczy klient

.particular-client {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $heading-color;
    background-color: $basic-background;
    width: 700px;
    min-height: 450px;
    @include main-border;
    padding: 15px;
    display: none;
    flex-direction: column;

    &__div {
        display: flex;
        flex-direction: column;

        label {
            color: #aeb5ac8c;
            font-size: 12px;
            margin-bottom: -4px;
            align-self: center;
            margin-bottom: 2px;
        }
    }

    &__par {
        color: #efeaea;
        background-color: transparent;
        border: unset;
        padding: 5px;
        max-width: 110px;
        text-align: center;
    }

    &__phone,
    &__email {
        max-width: unset;
        width: 200px;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 5px;
        color: #dd5353;
        font-size: 20px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            font-size: 25px;
        }
    }

    &__div-owner {
        align-self: flex-start;
        border: 1px solid yellow;
        padding: 5px;
    }

    &__div-nip {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__name {
        text-align: center;
        font-size: 22px;
        max-width: 100%;
    }

    &__select-status {
        text-align: center;
        background-color: transparent;
        color: #efeaea;
        border: 1px solid;
        width: 150px;
        align-self: center;
        margin-bottom: 10px;
    }

    &__line-contact,
    &__line-adress {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid;
        border-bottom: 1px solid;
        align-items: center;

        p {
            padding: 0;
            margin: 0;
        }
    }

    &__line-adress {
        margin: 10px;
    }

    &__btn-tasks {
        border: none;
        padding: 5px;
        background-color: aquamarine;
        border-radius: 2px;
    }

    &__description {
        padding: 10px;
        margin: 5px;
        border: 1px solid;
        min-height: 150px;
        letter-spacing: 1px;
        background-color: transparent;
        color: $heading-color;
    }
}

// koniec pojedyńczy klient