.energy-panel-wrapper {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: $basic-background;

    &__title {
        color: $heading-color;
        font-family: $title-font;
        text-align: center;
        padding: 10px;
        background: $login-color;

        @include mq('small') {
            font-size: 30px;
        }
    }

    &__subtitle {
        color: $heading-color;
        font-family: $title-font;
        text-align: center;
        padding: 10px;

        @include mq('small') {
            font-size: 21px;
        }

        .user-settings {
            padding-left: 10px;
            cursor: pointer;
        }
    }
}

.logout-energy-btn {
    position: fixed;
    top: 6px;
    right: 7px;
    @include btn-logout;

    @include mq('small') {
        position: unset;
        width: 100vw;
        border-radius: 0px;
    }
}

.chat-container__hide {
    display: none;
}

.user-settings-container {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    @include center;
    width: 300px;
    height: 350px;
    background-color: $basic-background;
    @include main-border;
    border-radius: 10px;
    padding: 10px;

    &__close {
        position: absolute;
        top: -16px;
        right: -16px;
        font-size: 30px;
        color: rgba(225, 52, 52, 0.702);
        cursor: pointer;
    }

    &__title {
        font-family: $title-font;
        text-align: center;
        color: $heading-color;
    }

    &__btn {
        height: 50px;
        width: 200px;
        @include main-border;
        background-color: transparent;
        border-radius: 10px;
        color: $heading-color;
        font-family: $content-font;
        cursor: pointer;
    }

    .change-data-password,
    .change-data-email,
    .change-data-phone {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        height: 300px;
        @include center;
        background: $basic-background;
        @include main-border;
        padding: 20px;

        &__description {
            display: block;
            text-align: center;
            font-family: $content-font;
            font-size: 20px;
            color: $heading-color;
        }

        &__close {
            @include close-sign(-8px, -14px)
        }

        &__response {
            font-family: $content-font;
            font-size: 20px;
            color: yellowgreen;
            padding: none;
        }

    }


}

.clients-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .clients-table {
        color: $heading-color;

        tr {
            padding: 10px;

            th {
                padding: 10px;
            }
        }
    }

}