.energy-panel-wrapper {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: $basic-background;
    font-family: $content-font;

    &__title {
        color: $heading-color;
        font-family: $title-font;
        text-align: center;
        padding: 10px;
        background: $login-color;

        @include mq('small') {
            font-size: 30px;
        }
    }

    &__subtitle {
        color: $heading-color;
        font-family: $title-font;
        text-align: center;
        padding: 10px;

        @include mq('small') {
            font-size: 21px;
        }

        .user-settings {
            padding-left: 10px;
            cursor: pointer;
        }
    }
}

.logout-energy-btn {
    position: fixed;
    top: 6px;
    right: 7px;
    z-index: 5;
    @include btn-logout;

    @include mq('small') {
        position: unset;
        width: 100vw;
        border-radius: 0px;
    }
}

.chat-container__hide {
    display: none;
}

.user-settings-container {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    @include center;
    width: 300px;
    height: 350px;
    background-color: $basic-background;
    @include main-border;
    border-radius: 10px;
    padding: 10px;

    &__close {
        position: absolute;
        top: -16px;
        right: -16px;
        font-size: 30px;
        color: rgba(225, 52, 52, 0.702);
        cursor: pointer;
    }

    &__title {
        font-family: $title-font;
        text-align: center;
        color: $heading-color;
    }

    &__btn {
        height: 50px;
        width: 200px;
        @include main-border;
        background-color: transparent;
        border-radius: 10px;
        color: $heading-color;
        font-family: $content-font;
        cursor: pointer;
    }

    .change-data-password,
    .change-data-email,
    .change-data-phone {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        height: 300px;
        @include center;
        background: $basic-background;
        @include main-border;
        padding: 20px;

        &__description {
            display: block;
            text-align: center;
            font-family: $content-font;
            font-size: 20px;
            color: $heading-color;
        }

        &__close {
            @include close-sign(-8px, -14px)
        }

        &__response {
            font-family: $content-font;
            font-size: 20px;
            color: yellowgreen;
            padding: none;
        }

    }


}

.clients-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .clients-table {
        display: none;
        color: $heading-color;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        text-align: center;

        tr td:nth-child(1) {
            color: rgb(65, 126, 218);
            cursor: pointer;
            border-color: $heading-color;
        }

        tr td:nth-child(2) {
            text-align: left;
        }

        tr {
            padding: 10px;
            border: 1px solid;

            th {
                padding: 10px;
            }

            td {
                padding: 5px;
                border: 1px solid;
            }
        }
    }



}

.wallet-summary {
    text-align: center;
    font-family: $content-font;
    font-size: 20px;
    color: $heading-color
}

// spinner początek
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// spinner koniec

//spinner w dodawaniu klienta
#checking-client {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 75px;
    transform: translateX(-50%);


    .lds-roller {
        display: inline-block;

        div:after {
            background: lawngreen;
        }
    }

    p {
        color: lawngreen;
    }
}



// koniec spinner w dodawaniu klienta
.pagination-crm {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    &__input {
        width: 40px;
        border: 2px solid rgb(213, 164, 164);
        padding: 5px;
    }

    &__btn {
        @include btn-logout;
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    &__next,
    &__prev {
        border: 2px solid white;
        color: $heading-color;
        font-size: 20px;
        font-family: $content-font;
        background-color: transparent;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: .4s;

        &:hover {
            color: $basic-background;
            background-color: $heading-color;
        }
    }
}

.number-of-pages {
    color: $heading-color;
    font-size: 20px;
    font-family: $title-font;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .searchTerm {
        width: 400px;
        border: 3px solid #743ad5;
        border-right-color: #743ad5;
        border-right-style: solid;
        border-right-width: 3px;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 0px;
        outline: none;
        color: rgb(49, 153, 104);

        &:focus {
            color: #743ad5;
        }
    }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #743ad5;
        background: #743ad5;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        transition: .5s;

        &:hover {
            color: #743ad5;
            background: #fff;
        }
    }

    .search__select-option {
        border: 1px solid #743ad5;
        background: #743ad5;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        height: 36px;
    }
}

.back-to-all__btn {
    display: none;
    border: 2px solid white;
    color: $heading-color;
    font-size: 20px;
    font-family: $content-font;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;

    &:hover {
        color: $basic-background;
        background-color: $heading-color;
    }
}

.doesnt-find-client {
    text-align: center;
    color: rgb(233, 80, 80);
    font-size: 20px;
    font-family: $content-font;
    margin: 5px;
}

// pojedyńczy klient

.particular-client,
.particular-client-new {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $heading-color;
    background-color: $basic-background;
    width: 700px;
    min-height: 450px;
    @include main-border;
    padding: 15px;
    display: none;
    flex-direction: column;

    &__div,
    &__div-new {
        display: flex;
        flex-direction: column;

        label {
            color: #aeb5ac8c;
            font-size: 12px;
            margin-bottom: -4px;
            align-self: center;
            margin-bottom: 2px;
        }
    }

    &__par {
        color: #efeaea;
        background-color: transparent;
        border: unset;
        padding: 5px;
        max-width: 115px;
        text-align: center;
    }

    &__phone,
    &__email {
        max-width: unset;
        width: 200px;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 5px;
        color: #dd5353;
        font-size: 20px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            font-size: 25px;
        }
    }

    &__div-owner {
        align-self: flex-start;
        border: 1px solid yellow;
        padding: 5px;
    }

    &__owner {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        background-color: $basic-background;
    }

    &__div-nip {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__name {
        text-align: center;
        font-size: 22px;
        max-width: 100%;
    }

    &__select-status {
        text-align: center;
        background-color: transparent;
        color: #efeaea;
        border: 1px solid;
        width: 150px;
        align-self: center;
        margin-bottom: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';

        option {
            background-color: $basic-background;
            text-align: center;
        }
    }

    &__category {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        background-color: $basic-background;
    }

    &__line-contact,
    &__line-adress {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid;
        border-bottom: 1px solid;
        align-items: center;

        p {
            padding: 0;
            margin: 0;
        }
    }

    &__line-adress {
        margin: 10px;
    }

    &__btn-tasks,
    &__btn-notes {
        border: none;
        padding: 5px;
        background-color: aquamarine;
        border-radius: 2px;
    }

    &__btn-notes {
        margin-top: 10px;
        background-color: greenyellow;
    }


    &__description {
        padding: 10px;
        margin: 5px;
        border: 1px solid;
        min-height: 150px;
        letter-spacing: 1px;
        background-color: transparent;
        color: $heading-color;
    }

    &__update-info {
        display: none;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: transparent;
        font-size: 30px;
        color: #319968;
        letter-spacing: 2px;
        transform: rotateZ(14deg);
    }

    &__line-action-buttons {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    &__btn-summary {
        border: 1px solid $heading-color;
        padding: 10px;
        text-align: center;
        background-color: transparent;
        transition: .4s;
    }

    &__btn-cancel {
        color: rgba(230, 66, 66, 0.702);

        &:hover {
            border-color: rgba(225, 52, 52, 0.702);
            letter-spacing: 1px;
        }
    }

    &__btn-delete {
        background-color: red;
        color: wheat;
        width: 100px;

        &:hover {
            border-color: greenyellow;
            letter-spacing: 1px;
        }
    }

    &__btn-update {
        color: yellowgreen;

        &:hover {
            border-color: yellowgreen;
            letter-spacing: 1px;
        }
    }
}

.confirm-remove {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-background;
    padding: 20px;
    @include main-border;

    div {
        display: flex;
        justify-content: space-around;
    }

    button {
        width: 100px;
        padding: 2px;
        border: 1px solid white;
        background-color: unset;
        border-radius: 5px;

    }

    &__not-confirm {
        color: green;

        &:hover {
            border-color: green;
        }
    }

    &__confirm {
        color: red;

        &:hover {
            border-color: red;
        }
    }


}

// koniec pojedyńczy klient

//dodawanie klienta

.navigation {
    color: $heading-color;
    position: fixed;
    top: 100px;
    left: 3px;
    font-size: 29px;
    transition: .3s;
    z-index: 2;
    max-width: 60px;

    .add-client-icon__icon,
    .add-task-icon__icon,
    .go-to-ofertomat-icon__icon {
        cursor: pointer;
        transition: .3s;

        &:hover {
            color: #d53a9d;
        }
    }
}

.go-to-ofertomat-icon__icon {
    color: rgb(239, 234, 234);
}

.particular-client-new {
    display: none;
    z-index: 2;

    &__category,
    &__owner {
        background-color: $basic-background;
        text-align: center;
    }
}

.particular-client-new__add-info {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: transparent;
    font-size: 30px;
    color: #319968;
    letter-spacing: 2px;
    transform: rotateZ(14deg);
}

//koniec dodawanie klienta

//kalendarz
.task-window,
.the-task-container {
    @include centerWithColor;
    @include main-border;
    padding: 20px;
    display: none; // potem flex!
    flex-direction: column;
    min-height: 400px;
    z-index: 3;

    &__close {
        align-self: flex-end;
        color: red;
        font-size: 25px;
        cursor: pointer;
        transition: .4s;

        &:hover {
            color: rgb(184, 51, 77);
        }
    }

    &__title {
        text-align: center;
        font-size: 25px;
        letter-spacing: 2px;
        padding-bottom: 10px;
        border-bottom: 3px solid;
    }

    &__input {
        margin-top: 10px;
        padding: 5px;
        text-align: center;
        background-color: transparent;
        border: none;
        color: white;
        border-radius: 10px;
        border: 1px solid rgba(221, 221, 221, 0.322);

        &::placeholder {
            color: rgba(71, 137, 236, 0.74);
            opacity: 1;
        }

        &:focus {
            border: 1px solid lightblue;
        }
    }

    &__btn {
        color: $heading-color;
        @include main-border;
        padding: 10px;
        background-color: transparent;
        width: 200px;
        margin: 20px auto 0;

        &:hover {
            color: rgb(65, 126, 218);
        }
    }
}

//lista zadań

.task-list {
    position: fixed;
    bottom: -100vh;
    left: 50%;
    transform: translateX(-50%);
    min-height: 400px;
    width: 80vw;
    background: $basic-background;
    @include main-border;
    transition: .7s;
    $body-bg: linear-gradient(180deg, #1c0138 0%, #2c0055 100%);
    $border: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);
    @import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

    .sun-container,
    .sun-button,
    .sun,
    .sun-button span {
        position: absolute;
    }

    .sun-container {
        margin: auto;
        right: 50%;
        bottom: 0;
        width: 55px;
        height: 70px;
        transform: translateX(-50%);

        .wasa:hover {
            .sun {
                bottom: 25px;
                transition: all 1s ease-in-out;
                box-shadow: 0px 0px 10px #ffdc2a;
            }

            .sun-button {
                box-shadow: 0px 0px 36px #c80de0;
                transition: all 1s ease-in-out;
                cursor: pointer;
            }
        }

        .sun {
            width: 64px;
            height: 64px;
            left: 55px;
            bottom: 5px;
            background: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);
            box-shadow: 0px 0px 36px #ffdc2a;
            z-index: 2;
            border-radius: 65px;
            transition: all 1s ease-in-out;
        }

        .sun-button {
            width: 171px;
            height: 65px;
            background: #2c0055;
            box-shadow: 0px 0px 16px #c80de0;
            border-radius: 2px;
            z-index: 3;
            border: 2px solid;
            transition: all 1s ease-in-out;
            border-image: linear-gradient(#360154, #d442d5) 30;

            span {
                text-align: center;
                font-family: "Sacramento", cursive;
                left: 56px;
                font-size: 35px;
                line-height: 70px;
                margin: 0 auto;
                transition: all 0.3s ease-in-out;
                background: -webkit-linear-gradient(#ffdc2a, #fb2182);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__hide {
        color: #753ad5;
        font-size: 30px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    &__title {
        text-align: center;
        color: $heading-color;
        font-size: 30px;
        letter-spacing: 3px;
        margin-top: 5px;
    }

    &__list {
        color: antiquewhite;
        font-size: 20px;
        padding: 10px;
        height: 260px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;

        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }

        .particular-task {
            display: flex;

            div {
                margin-right: 8px;
            }

            &__title {
                color: green;

                &-red {
                    color: brown;
                }
            }

            &__open {
                cursor: pointer;
            }

            &__track-client {
                align-self: center;
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }

}

// koniec lsita zadań

//wchodzenie w zadanie
.the-task-container {
    display: none;
    z-index: 4;

    &__close {
        align-self: flex-end;
        color: red;
        font-size: 25px;
        cursor: pointer;
        transition: .4s;

        &:hover {
            color: rgb(184, 51, 77);
        }
    }
}

#theTaskTitle {
    color: bisque;
}

#theTaskTel {
    width: 100%;
}

//koniec wchodzenie w zadanie

// loader zadań

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

// koniec loader zadań

//filtracja

.filter-div {
    padding: 10px;

    label {
        color: aliceblue;
        letter-spacing: 1px;
        margin-right: 5px;
    }

    select {
        padding: 1px;
        margin-right: 5px;
        background-color: $basic-background;
        color: aliceblue;
    }

    button {
        background-color: transparent;
        border: 1px solid aliceblue;
        border-radius: 5px;
        font-size: 17px;
        padding: 2px;
        letter-spacing: 1px;
        width: 85px;
        color: yellowgreen;
        height: 33px;
        align-self: flex-end;
        margin-left: 5px;
        transition: .3s;

        &:hover {
            border-color: yellowgreen;
        }
    }

    h1 {
        text-align: center;
        color: whitesmoke;
        font-size: 25px;
        letter-spacing: 2px;
    }

    &__wrapper {
        display: flex;

        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 150px;
        }
    }

    #removeFilters {
        display: none;
        color: red;
        margin-left: 10px;

        &:hover {
            border-color: red;
        }
    }
}

//koniec filtracja

// notatki


.notes {
    display: none;
    flex-direction: column;
    min-width: 80%;
    min-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-background;
    @include main-border;

    &__close {
        background: transparent;
        color: indianred;
        width: 20%;
        border: 1px solid indianred;
        margin: 5px;
        align-self: flex-end;
        padding: 5px;
        cursor: pointer;
    }

    &__title {
        margin-top: 10px;
        font-size: 25px;
        letter-spacing: 2px;
        text-align: center;
    }

    &__create-note {
        background-color: yellowgreen;
        width: 80%;
        align-self: center;
        margin-top: 10px;
        border: none;
        padding: 5px;
        border-radius: 10px;
        transition: .3s;

        &:hover {
            color: seagreen;
        }
    }

    &__container {
        width: 90%;
        height: 250px;
        align-self: center;
        border: 1px solid;
        border-radius: 2px;
    }

}

.note,
.create-note {
    display: none;
    flex-direction: column;
    min-width: 80%;
    min-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-background;
    @include main-border;

    &__close {
        background: transparent;
        color: indianred;
        width: 20%;
        border: 1px solid indianred;
        margin: 5px;
        align-self: flex-end;
        padding: 5px;
        cursor: pointer;
    }

    &__created {
        position: absolute;
        top: 2px;
        left: 2px;
    }

    &__title,
    &__description {
        width: 80%;
        align-self: center;
        padding: 5px;
        text-align: center;
        margin: 5px;
        background-color: transparent;
        color: whitesmoke;
        border: 1px solid #743ad5;

    }

    &__description {
        width: 90%;
        height: 215px;
        text-align: left;
        letter-spacing: 1px;
    }

    &__button {
        background: yellowgreen;
        letter-spacing: 1px;
        border: none;
        padding: 5px;
        border-radius: 2px;
        width: 80%;
        align-self: center;
        margin: 2px;

        &--remove {
            background: red;
        }
    }
}

// koniec notatki