.crm-login-wrapper {
    height: 100vh;
    width: 100vw;
    background: $basic-background;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
        height: 400px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: $login-color;

        &__heading {
            font-size: 30px;
            font-family: 'Fredoka One', cursive;
            text-align: center;
            color: $heading-color;

            &--uppercase {
                text-transform: uppercase;
            }
        }

        &__input {
            border: 10px solid;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: $login-color;
            margin-top: 10px;
            height: 30px;
            text-align: center;
        }

        &__btn {
            background: $login-color;
            font-family: 'Fredoka One', cursive;
            color: $heading-color;
            border: none;
            border-radius: 20px;
            margin-top: 20px;
            width: 150px;
            height: 35px;
            cursor: pointer;
        }
    }

}