@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&display=swap');
$heading-color: rgb(239, 234, 234);
$login-color: linear-gradient(to left, #743ad5, #d53a9d);
$basic-background: rgb(2, 0, 36);
$title-font: 'Fredoka One',
cursive;

@mixin btn-logout {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);

    &:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    &:focus {
        outline: none;
    }
}

$breakepoints: (xsmall: 'max-width: 640px',
    small: 'max-width: 640px',
    medium: 'max-width: 800px',
    large: 'max-width: 1024px',
    xlarge: 'max-width: 1200px',
    xxlarge: 'max-width: 1440px'
);

@mixin mq($breakepoint) {
    $size: map-get($breakepoints, $breakepoint);

    @if $size {
        @media (#{$size}) {
            @content;
        }
    }

    @else {
        @error '"#{$breakepoint}" - nie rozpoznaje'
    }
}