* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// dodatek przy osadzaniu w enerji-cc

body {
    padding: 0;
}

.main-nav {
    display: none;
}

//koniec dodatek w osadzaniu w enerji-cc
@import './sets';
@import './login';
@import './crm-panel';