.extra-tariff-wrapper.tariffc11-wrapper 
      p(class="tariff-wrapper-title-main") C11          
      div
        label(for="priceInTariff") Cena w cenniku na 2022: 
        input(id="priceInTariff2022" type="text" placeholder="np. 300" value=data[0].tariff.price2022)
      div(class="when-option-2020")
        label(for="priceInTariff2021") Cena w cenniku na 2021: 
        input(id="priceInTariff2021" type="text" placeholder="np. 280" value=data[0].tariff.price2021)
      div(class="when-option-2019")
        label(for="priceInTariff2020") Cena w cenniku na 2020: 
        input(id="priceInTariff2020" type="text" placeholder="np. 274" value=data[0].tariff.price2020)