- var dataNumber = 3
h3(class="change-price-heading") Dla C21:
       .wrap-change-price-c11
        div
          label(for="idPrice2023") Cena na 2023:
          input(type="text" name="c21price2023" value=data[dataNumber].tariff.price2023)
        div
          label(for="idPrice2022") Cena na 2022:
          input(type="text" name="c21price2022" value=data[dataNumber].tariff.price2022)
        div
          label(for="idPrice2021") Cena na 2021:
          input(type="text" name="c21price2021" value=data[dataNumber].tariff.price2021)
        div
          label(for="idPrice2020") Cena na 2020:
          input(type="text" name="c21price2020" value=data[dataNumber].tariff.price2020)       