h3(class="change-price-heading") Dla C11:
       .wrap-change-price-c11
        div
          label(for="idPrice2023") Cena na 2023:
          input(id="idPrice2023" type="text" name="price2023" value=data[0].tariff.price2023)
        div
          label(for="idPrice2022") Cena na 2022:
          input(id="idPrice2022" type="text" name="price2022" value=data[0].tariff.price2022)
        div
          label(for="idPrice2021") Cena na 2021:
          input(id="idPrice2021" type="text" name="price2021" value=data[0].tariff.price2021)          