
.chat-window
  p(class='chat-icon')
    i(class="fab fa-telegram-plane")
  .chat-window__messages
  div(class='chat-window__send')
    input(class='chat-window__input' placeholder='Wiadomość...')
    button(type='button' class='chat-window__button')
      i(class="fab fa-telegram-plane")
  