
.chat-window
  p(class='chat-icon')
    i(class="fab fa-telegram-plane")
  .chat-window__messages
    p(class='chat-window__name chat-window__name--other') Damian
    div(class='chat-window__message chat-window__message--other')
      p(class='chat-window__text') Pierwsza moja wiadomość
    p(class='chat-window__name chat-window__name--me') Aleksander
    div(class='chat-window__message chat-window__message--me')
      p(class='chat-window__text') Druga Moja wiadomość
  div(class='chat-window__send')
    input(class='chat-window__input' placeholder='Wiadomość...')
    button(type='button' class='chat-window__button')
      i(class="fab fa-telegram-plane")
  