.chat-users 
  img(src="/images/users/damian.jpeg", alt="" class='chat-users__photo' id='damianwasiak')
  img(src="/images/users/mateusz.jpeg", alt="" class='chat-users__photo' id='mateuszziolkowski')
  img(src="/images/users/krystian.jpeg", alt="" class='chat-users__photo' id='krystianpanek')
  img(src="/images/users/oleksii.jpeg", alt="" class='chat-users__photo' id='oleksiitsymbaliuk')
  img(src="/images/users/aleksander.jpeg", alt="" class='chat-users__photo' id='aleksanderkruk')