.notes
  button(class='notes__close') Zamknij
  button(class='notes__create-note') Dodaj notatkę
  h1(class='notes__title') Notatki na kliencie: 
  .notes__container
  .note
    span(class='note__created')
    h1(class='note__title')
    p(class='note__description')
    button(class='note__button note__button--edit') Edytuj
    button(class='note__button note__button--remove') Usuń
  .create-note   
    input(class='create-note__title' placeholder='Tytuł notatki')
    textarea(class='create-note__description' placeholder='Opis..s')
    button(class='create-note__button note__button--create') Utwórz
    button(class='create-note__button note__button--cancel') Anuluj

