.the-task-container
  i(class="fas fa-times-circle the-task-container__close")
  h1(class='task-window__title' id='theTaskTitle') Zadanie
  input(id='theTaskName' type="text" class='task-window__input' placeholder='nazwa zadania, np. Telefon' required)
  input(id='theTaskNip' type="text" class='task-window__input' placeholder='nip')
  input(id='theTaskClientName' type="text" class='task-window__input' placeholder='nazwa klienta')
  .task-window__row
    input(id='theTaskTel' type="text" class='task-window__input' placeholder='nr tel.')     
  input(id='theTaskDescription' type="text" class='task-window__input' placeholder='Opis...')
  button(class='the-task-container__btn') Skasuj