@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import './breakepoints';

.wrapper {
    width: 800px;
    margin: 25px auto 0;
    background: rgba(206, 223, 230, 0.66);
    padding: 20px;
    border: 3px solid black;
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: bolder;
    font-family: Arial, sans-serif;

    @include mq('xsmall') {
        background: #c2e59c;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, rgba(100, 179, 244, 0.8), rgba(194, 229, 156, 0.8));
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, rgba(100, 179, 244, 0.8), rgba(194, 229, 156, 0.8));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        max-width: 95vw;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        box-shadow: none;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 15px;
    }

    &__title {
        @include mq('xsmall') {
            display: none;
        }
    }

    .intakec11c21,
    .propositionc11c21 {
        @include mq('xsmall') {
            display: flex;
            flex-direction: column;
        }
    }

    .show-price-change {
        display: none;

        @include mq('xsmall') {
            display: none;
        }
    }

    .easy-prices {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 220px;
        border-bottom: 3px solid brown;
        border-top: 3px solid brown;

        select {
            width: 150px;
        }

        input {
            width: 300px;
        }
    }

    h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        text-align: center;
        color: #4148ae;
        text-shadow: 1px 1px rgb(213, 232, 194);


    }

    input {
        font-size: 18px;
        text-align: center;
        width: 100px;

        @include mq('xsmall') {
            font-size: 17px;
            width: 70px;
        }
    }

    p {
        margin-top: 10px;
        line-height: 100%;
    }


    #select {
        margin-top: 10px;
        font-size: 20px;
    }


    .value-of-calc-data {
        font-weight: bolder;
    }

    .marge-mass-span {
        color: green;
    }

    div {
        label {
            margin-right: 10px;
            font-family: 'Baloo 2', cursive;


        }
    }

    .btn-wrapper {
        text-align: center;

        @include mq('xsmall') {
            margin-top: 10px;
        }

        #btnCalc {
            width: 120px;
        }
    }

    p.note {
        text-align: center;
        font-family: 'Baloo 2', cursive;
        font-weight: bolder;
        font-size: 1.5rem;
        margin-top: 15px;
        border-bottom: 2px solid brown;
        padding-bottom: 10px;
    }

    p#summaryCalc {
        background-color: bisque;
        border-radius: 10px;
    }

    .change-price-panel {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: coral;
        padding: 15px;
        border: 2px solid brown;
        border-radius: 5px;
        text-align: center;
        display: none;
        width: 700px;
        height: 90vh;
        overflow: scroll;
        transition: .5s;



        .change-price-close {
            position: absolute;
            bottom: 6px;
            right: 3px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                transform: scale(1.2);
            }
        }

        input {
            border: none;
            border-radius: 4px;
        }

    }

    .extra-tariff-wrapper {
        .tariff-wrapper-title-main {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            padding-bottom: 5px;
            border-bottom: 2px solid green;
        }

    }

    .tariff-wrapper-title {
        text-align: center;
        font-weight: bolder;
    }

    .wrap-all-in-tariff {
        display: flex;
        justify-content: space-around;

        .year2023-wrapper,
        .year2022-wrapper,
        .year2021-wrapper,
        .year2020-wrapper {
            border: 2px solid black;
            padding: 5px;
        }
    }

    .tariffc12a-wrapper,
    .tariffc12b-wrapper,
    .tariffc21-wrapper,
    .tariffc22a-wrapper,
    .tariffc22b-wrapper,
    .tariffb11-wrapper,
    .tariffb21-wrapper,
    .tariffb22-wrapper,
    .tariffg11-wrapper,
    .tariffg12-wrapper,
    .tariffg12w-wrapper,
    .intakec12ac12b,
    .propositionc12ac12b,
    .havePricesc12ac12b,
    #info35zl {
        display: none;
    }

    .wrapPropositionsC12x,
    .intake-divs-wrapper,
    .have-prices-divs-wrapper {
        display: flex;
        justify-content: center;

        div {
            margin-left: 5px;
        }
    }

    .intakec12ac12 {
        p {
            text-align: center;
            font-weight: bolder;
        }

    }

    #onePriceForAll {
        width: 25px;
        height: 25px;
    }

    .label-for-one-price {
        vertical-align: bottom;
        color: midnightblue;
        font-weight: bolder;
    }

    #clearInputsBtn {
        display: block;
        margin: 5px auto;
    }

    .wrap-change-price-c11 {
        display: flex;
        margin-bottom: 5px;
    }

    .change-price-heading,
    #changePriceBtn {
        margin-top: 10px;
    }

    .wrap-checkbox {
        @include mq(xsmall) {
            margin-top: 10px;
        }

        #onePriceForAll {
            @include mq(xsmall) {
                width: 25px;
                height: 25px;
            }
        }
    }

    .label-for-trade-fee {
        color: darkgreen;
    }

    #activeCalcSavings {
        display: none;
    }

    .savings-note {
        border-top: 2px solid gray;
        padding: 5px;

        p {
            margin: 0px;
            color: indianred;

            span {
                font-weight: bolder;
                color: green;
            }
        }
    }

    .show-calc-wear {
        margin: 10px 0px;

    }

    .calc-wear {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 500px;
        background-color: bisque;
        padding: 15px;
        box-shadow: -1px 2px 8px aliceblue;
        // animation: showCalcWear 1s linear both;

        @include mq(xsmall) {
            max-width: 300px;
        }

        &__par {
            strong {
                color: brown;
            }
        }

        &__hide {
            max-width: 30px;
            font-size: 20px;
            color: #1f5e68;
            align-self: flex-end;
            cursor: pointer;
        }

        &__btn {
            width: 100px;
        }

        &__score {
            color: cadetblue;

            @include mq(xsmall) {
                text-align: center;
            }

            span {
                color: #2b4a0d;
                font-weight: bolder;


                @include mq(xsmall) {
                    display: block;
                    padding-top: 6px;
                }
            }
        }

        &__btn--import,
        &__info {
            display: none;
        }
    }
}

@keyframes showCalcWear {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}