.consumption-wrapper {
    background-color: rgba(196, 219, 195, 0.788);
    max-width: 80vw;
    margin: 30px auto 0 auto;
    padding: 20px;
    border-radius: 20px;

    p {
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: 18px;
        margin-top: 10px;
    }

    #conumptionBtn {
        display: block;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 10px;
        color: rgb(51, 48, 42);
    }
}