.main-nav__new-link {
  background: -webkit-linear-gradient(90deg, #020024 0%, #b79de6 0%, #bb59ed 35%, #91a5e0 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mwh-title {
  text-align: center;
  background: rgba(240, 248, 255, 0.569);
  max-width: 550px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 30px;
  padding: 10px;
  font-weight: bolder;
}

.calcFV {
  display: flex;
  flex-direction: column;
  background: rgba(201, 191, 191, 0.922);
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #2d082d;
  box-shadow: 0 3px 2px 2px;
  border-radius: 10px;
  padding: 10px;
}

.calcFV__title {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 2px solid purple;
  border-bottom: 2px solid purple;
  text-shadow: -2px 2px 1px aliceblue;
}

.calcFV .fv-class {
  font-weight: bolder;
  letter-spacing: 1px;
}

.calcFV .fv-class--compl {
  color: #110111;
}

.calcFV .fv-class--just-sales {
  color: #1b0ae1;
}

.calcFV .fv-class--extra-line {
  border-bottom: 2px solid #463735;
  padding-bottom: 15px;
}
