@import './mixins';
@import './breakepoints';

div.menu-mobile {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1;

    img {
        width: 100%;
        border-radius: 50%;
    }

    @include mq(xsmall) {
        display: block;
    }

    i {
        font-size: 50px;
    }

    i.active {
        transform: rotateX(180deg);
    }
}

.main-nav {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    min-width: 700px;
    // background: rgb(37, 157, 42);
    background: rgba(74, 67, 67, 0.75);
    color: white;
    border-radius: 10px;

    @include mq(xsmall) {
        background: rgba(0, 0, 0, 0.75);
        transform: unset;
        min-width: 200px;
        top: 50px;
        left: unset;
        right: -500px;
        transition: .3s;
    }




    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-bottom: 0;

        @include mq(xsmall) {
            flex-direction: column;
        }

        li {



            border-right: 2px solid white;
            padding: 5px 10px;

            &:nth-child(3) {
                border-right: none;
            }

            @include ipadPro {
                width: 180px;
                text-align: center;
            }

            @include ipad {
                width: 140px;
            }

            @include iphoneXl {
                width: 140px;
            }

            @include iphone6l {
                width: 125px;
            }

            @include mq(xsmall) {
                width: auto;
                border-right: none;
            }

            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                font-family: 'Baloo 2', cursive;

                @include ipadPro {
                    font-size: 30px;
                }

                @include ipad {
                    font-size: 25px;
                }

                @include iphoneXl {
                    font-size: 20px;
                }

                @include iphoneX {
                    font-size: 25px;
                }

                @include mq(xsmall) {
                    font-size: 20px
                }

                &:hover {
                    // color: black;
                    border-bottom: 2px solid white;
                }
            }



            a.disabled {
                text-decoration: line-through;
                cursor: default;
            }

        }

    }
}

.main-nav.show {
    top: 50px;
    right: 0px;
    // background: rgba(64, 57, 57, 0.89);

    // a {
    //     font-size: 20px;
    //     color: orange;
    // }
}