.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid antiquewhite;
  background-color: #5a5050;
  color: #dddd96;
  padding: 10px;
  height: 250px;
  border-radius: 3px;
  width: 1200px;
  position: fixed;
  bottom: -250px;
  transition: .3s;
}

.chat-container__hide {
  position: absolute;
  top: -55px;
  right: -25px;
  border: 2px solid burlywood;
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: chocolate;
  cursor: pointer;
  transition: .3s;
}

.chat-container__hide:hover {
  border-color: lime;
  color: lime;
}

.chat-container__message-container {
  overflow-y: scroll;
}

.chat-container__message--Olek {
  color: #dddd96;
}

.chat-container__message--Julka {
  color: #6bd8b4;
}

.chat-container__message--Bartek {
  color: #a8a6e9;
}

.chat-container__message--Ola {
  color: #fa83ea;
}

.chat-container__message--Kuba {
  color: #dddd96;
}

.chat-container__message--Patryk {
  color: #47a9d8;
}

.chat-container .send-container {
  margin-top: 10px;
}

.chat-container .send-container__input {
  width: 90%;
}

.chat-container .send-container__btn {
  padding: 4px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  letter-spacing: 2px;
}
