.know-how {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1d1d44;
  color: #c4bdcb;
  padding: 15px;
  z-index: 10;
  border-radius: 5px;
  border: 2px solid #c4bdcb;
  box-shadow: 2px 1px 5px 2px;
}

.know-how__btn {
  text-align: center;
  padding: 5px 10px;
  background: none;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  cursor: pointer;
  font-weight: bolder;
  transition: .3s;
}

.know-how__btn:hover {
  background-color: whitesmoke;
  color: #1d1d44;
}

.know-how__heading {
  color: #6464fb;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.know-how__par {
  line-height: 130%;
}

.know-how__par--important {
  color: #6464fb;
}

.know-how__list {
  list-style: decimal;
  padding: 20px;
}
