@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=latin-ext");
.stats-wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: Roboto, sans-serif;
  padding: 30px;
}

.stats-wrapper .stats-heading {
  text-align: center;
  letter-spacing: 1px;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.stats-wrapper .cases-wrapper {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
}

.stats-wrapper .cases-wrapper .stats-case {
  padding: 10px;
  display: flex;
  letter-spacing: 2px;
  font-weight: bolder;
  position: relative;
}

.stats-wrapper .cases-wrapper .stats-case .case-ammount {
  padding: 2px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-right: 5px;
  min-width: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.767);
  flex-grow: 1;
}

.stats-wrapper .cases-wrapper .stats-case .case-name {
  padding: 2px;
  flex-grow: 2;
  cursor: context-menu;
}

.stats-wrapper .cases-wrapper .stats-case .case-percent {
  flex-grow: 2;
  padding: 2px;
  font-weight: bolder;
}

.stats-wrapper .cases-wrapper .stats-case .case-description {
  display: none;
  position: absolute;
  top: 0%;
  left: 50%;
  background: khaki;
  border: 1px solid gray;
  padding: 5px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 120%;
  z-index: 2;
}

.stats-wrapper .cases-wrapper .stats-case .stats-generate {
  flex-grow: 19;
  display: flex;
  justify-content: flex-end;
}

.stats-wrapper .cases-wrapper .stats-case .stats-generate .stats-btn {
  width: 30px;
  height: 30px;
}

.stats-wrapper .cases-wrapper #no {
  background: rgba(240, 0, 0, 0.37);
}

.stats-wrapper .cases-wrapper #rezygnacja {
  background: rgba(240, 0, 0, 0.7);
}

.stats-wrapper .cases-wrapper #out {
  background: rgba(240, 0, 0, 0.904);
}

.stats-wrapper .cases-wrapper #kontakt {
  background-color: rgba(255, 235, 59, 0.43);
}

.stats-wrapper .cases-wrapper #klient {
  background-color: rgba(1, 128, 1, 0.721);
}

.stats-wrapper .cases-wrapper #spotkanie {
  background-color: rgba(1, 128, 1, 0.921);
}

.stats-wrapper .cases-wrapper #oferta {
  background-color: rgba(1, 128, 1, 0.821);
}

.stats-wrapper .cases-wrapper #umowa {
  background-color: green;
}

.stats-wrapper .cases-wrapper #bb {
  background-color: rgba(0, 0, 0, 0.582);
}

.stats-wrapper .cases-wrapper #bb span.case-percent,
.stats-wrapper .cases-wrapper #bb span.case-name {
  color: white;
}

.stats-wrapper .sum-div {
  background: rgba(245, 245, 245, 0.39);
  padding: 10px;
}

.stats-wrapper .sum-div span {
  font-weight: bolder;
}

.stats-wrapper .sum-div span.percent {
  margin-left: 10px;
  color: #0d4b67;
}
